.gallery{
  background-color: var(--second-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid green;
}

.gallery .gallery__container{
  height: 65vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid green;

}

.gallery .gallery__container .gallerytitle{
  color: var(--text-color);
  font-size: 4rem;
  font-weight: 800;
  white-space: nowrap;
  margin-bottom: 2rem;
}