*,*::before,*::after{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 62.5%;
  color: var(--text-color);
}

:root{
  --main-color: #429BCE;
  --second-main-color: #002D4E;
  --bg-color: #000;
  --second-bg-color: #545454;
  --text-color: #F0EdEE;
  --second-text-color: #000;
}

html {
  position: relative;
  min-width: 425px; 
  /* might need to delete later because of screen issues*/
}

section{
  min-height: calc(100vh - 129px) ;
  padding: 0 9%;
}

h1 {font-size: 3rem;}

h2 {font-size: 2rem;}

p {
  font-size: 1rem;
  font-weight: 500;
}


body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  background-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
